/android_sdk/
/test/

*.mdx
*.mdd
*.dsl
*.dsl.dz
*.bgl
*.lsa
*.lsd
*.slob
*.zim
*.stardict
*.ifo
*.idx
*.dict
*.css

/.idea
*.iml
.DS_Store
Thumbs.db

android_project/.gradle/
android_project/build/
android_project/local.properties
android_project/captures/
android_project/.externalNativeBuild/
android_project/.cxx/
android_project/app/release.keystore

gradle_*.txt

*.apk
*.aar
*.ap_
*.aab
*.dex

/build/
*/build/

*.ps1

*_err.txt
*_out.txt
*_result.txt
*_output.txt
adb_*.txt
build_*.txt
